*{margin: 0%;padding: 0%}
.logo{
	text-align: center;
	text-shadow: currentColor;
	padding-top: 2vh;
	font-size: 8.5vh;
	padding-bottom: 10vh;
}
.chap{
	font-size: 10vh;
	padding-bottom: 10vh;
}
.about{
	padding-top: 20vh;
	font-size: 4.2vh;
}
.ab{
	font-size: 6.5vh;
}
.if{
	padding-top: 2vh;
	padding-bottom: 2vh;
	color: white;
	background-color: black;
	padding-left: 0.5vh;
	font-family: 'Inconsolata', monospace;
	border-radius: 6px;
}
.elif{
	padding-top: 2vh;
	padding-bottom: 2vh;
	color: white;
	background-color: black;
	padding-left: 0.5vh;
	font-family: 'Inconsolata', monospace;
	border-radius: 6px;
}
.else{
	padding-top: 2vh;
	padding-bottom: 2vh;
	color: white;
	background-color: black;
	padding-left: 0.5vh;
	font-family: 'Inconsolata', monospace;
	border-radius: 6px;
}
.code{
	padding-top: 15vh;
	padding-bottom: 5vh;
}
.sy{
	font-size: 7.5vh;
	padding-bottom: 3vh;
}
.i{
	font-family: 'Inconsolata', monospace;
	color: red;
	background-color: black;
	padding: 2vh;
	border-radius: 5px;
}
.a{
	font-family: 'Inconsolata', monospace;
	background-color: black;
	color: green;
	padding: 2vh;
	border-radius: 5px;
}
.ex{
	font-family: 'Inconsolata', monospace;
	background-color: black;
	color: white;
	padding: 2.5vh;
	border-radius: 5px;
	padding-left: 1vh;
}
.ef{
	color: yellow;
}
.con{
	color: green;
}
.func{
	color: orange;
}
.vari{
	color: red;
}
.goo{
	color: lime;
}
.goodday{
	font-family: 'Inconsolata', monospace;
}
.las{
	padding-top: 10vh;
	text-align: center;
	padding-bottom: 2vh;
}
.ne{
	padding: 1.5vh;
	font-size: 5vh;
	border-radius: 12px;
	border: none;
	background-color: yellow;
}