*{margin: 0%;padding: 0%;}
.heading{
	font-size: 5vh;
	text-align: center;
	padding: 5vh;
	padding-bottom: 10vh;
}
.dumblecture{
	padding-left: 0.5vh;
	padding-top: 10vh;
	padding-bottom: 10vh;
}
.about-string{
	font-size: 5vh;
	padding-bottom: 1.5vh;
}
li{
	font-size: 3vh;
}
.hts{
	padding-left: 0.5vh;
	padding-top: 5vh;
}
.ss{
	padding-bottom: 6vh;
	font-size: 5vh;
}
.sy{
	font-size: 5vh;
	padding-bottom: 3.5vh;
}
.ps{
	padding-bottom: 2.5vh;
	padding-top: 2.5vh;
	background-color: black;
	color: white;
	border-radius: 12px;
	font-family: 'Inconsolata', monospace;
  /*  padding-left: 100;*/
}
.p{
	color: yellow;
}
.sen{
	color: #32cd32;
}
.ou{
	padding-top: 7vh;
	padding-bottom: 3vh;
}
.o{
	padding-bottom: 5vh;
	font-size: 5vh;
}
.out{
	padding-top: 2vh;
	padding-bottom: 2vh;
	border-radius: 12px;
	color: white;
	background-color: black;
	padding-left: 0.5vh;
	font-family: 'Inconsolata', monospace;
}
.end{
	padding-bottom: 3vh;
	padding-top: 8vh;
	text-align: center;
}
.but{
	padding-top: 2vh;
	padding-bottom: 2vh;
	padding-right: 3vh;
	padding-left: 3vh;
	font-size: 2.5vh;
	border-radius: 12px;
	border: none;
    background-color: cyan;
	opacity: 100%;
	/*background-color: #E0FFFF;*/
	background-color: yellow;
}